{% if site.navigation_header %}
<header ref="menu" class="flex justify-between">
  <a href="/" class="logo fs-400">{{ site.title }}</a>

  <button
    id="mobile-nav-toggle"
    aria-expanded="false"
    artia-controls="primary-navigation"
  >
    <img
      id="icon-menu"
      src="{{site.baseurl}}/assets/icons/menu.svg"
      alt=""
      aria-hidden="true"
      onclick="openMenu()"
    />
    <img
      id="icon-close"
      src="{{site.baseurl}}/assets/icons/close.svg"
      alt=""
      aria-hidden="true"
      onclick="closeMenu()"
    />
    <span class="visually-hidden">Menu</span>
  </button>
  <div id="navigation-wrapper" data-visible="false">
    <nav class="fs-400" id="primary-navigation">
      {% for item in site.navigation_header %} {% if item.url contains '://' %}
      {% assign url = item.url %} {% else %} {% assign url = item.url |
      relative_url %} {% endif %}

      <a class="neutral-link" href="{{ url }}">{{ item.title }}</a>

      {% endfor %}
    </nav>
  </div>
</header>
{% endif %}
