$container: 4.375rem;
$gutter: 1.875rem;
$container-mobile: 1.5625rem;

// Grid system
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $gutter;
  margin-left: $container;
  margin-right: $container;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: autofit(4, min-content);
  column-gap: $gutter;
}

.row-start-1 {
  grid-row-start: 1;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

.col-end-1 {
  grid-column-end: 1;
}

.col-end-2 {
  grid-column-end: 2;
}

.col-end-3 {
  grid-column-end: 3;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-end-5 {
  grid-column-end: 5;
}

.col-end-6 {
  grid-column-end: 6;
}

.col-end-7 {
  grid-column-end: 7;
}

.col-end-8 {
  grid-column-end: 8;
}

.col-end-9 {
  grid-column-end: 9;
}

.col-end-10 {
  grid-column-end: 10;
}

.col-end-11 {
  grid-column-end: 11;
}

.col-end-12 {
  grid-column-end: 12;
}

.col-end-13 {
  grid-column-end: 13;
}

.row-end-1 {
  grid-row-end: 1;
}

.row-end-2 {
  grid-row-end: 2;
}

.row-end-3 {
  grid-row-end: 3;
}

.row-end-4 {
  grid-row-end: 4;
}

.row-end-5 {
  grid-row-end: 5;
}

.row-end-6 {
  grid-row-end: 6;
}

.col-7 {
  width: 87.09%;
}

.col-4 {
  width: 48.72%;
}

// Flexbox

.flex {
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right {
  float: right;
}

@media (max-width: 87.5em) {
  // .col-start-5 {
  //     grid-column-start: 3 !important;
  // }

  // .col-end-5 {
  //     grid-column-end: 3 !important;
  // }
}

@media (min-width: 50em) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 50em) {
  .flex-row {
    flex-direction: column;
  }

  .grid {
    margin-left: $container-mobile;
    margin-right: $container-mobile;
  }

  .col-start-2 {
    grid-column-start: 1 !important;
  }

  .col-start-3 {
    grid-column-start: 1 !important;
  }

  .col-end-11 {
    grid-column-end: 13 !important;
  }

  .col-end-12 {
    grid-column-end: 13 !important;
  }
}

@media (max-width: 23.75em) {
  .grid {
    column-gap: 0;
  }
}
