@forward "./reset.scss";
@forward "./general-sans.scss";
@forward "./sizing.scss";
@forward "./colors.scss";
@forward "./layout.scss";
@forward "./typography.scss";

@use "./typography.scss" as typography;
@use "./colors.scss" as color;
@use "./layout.scss" as layout;
@use "./sizing.scss" as sizing;

:root {
  font-family: typography.$ff-primary, Inter, Avenir, Helvetica, Arial,
    sans-serif;
  // font-size: 16px;
  // line-height: 24px;
  // font-weight: 400;
  // color-scheme: light dark;
  color: color.$neutral-200;
  background-color: color.$neutral-800;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

b {
  font-family: typography.$ff-heading;
}

p {
  margin-top: sizing.$mb-750;
  letter-spacing: +0.03em;
  word-spacing: +0.1em;

  &:first-child {
    margin-top: 0;
    // background-color: yellow;
  }
}

.underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 80%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    background: linear-gradient(270deg, color.$secondary, color.$primary);
  }
  &.large {
    &::after {
      height: 3px;
    }
  }
}

// Links

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
  transition: all 0.3s ease-in-out;
  position: relative;
  white-space: nowrap;

  &:hover {
    color: color.$neutral-100;
    &::after {
      background: linear-gradient(270deg, color.$secondary, color.$primary);
    }
  }

  &::after {
    content: "";
    position: absolute;
    // top: 100%;
    bottom: -4px;
    width: 100%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(270deg, color.$primary, color.$secondary);
  }
}

section {
  padding: sizing.$s-1000 0;
  // max-width: 100%;
}

.neutral-link {
  &::after {
    width: 0;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.jumpy-link {
  display: block;
  transform: translateY(0);
  &:hover {
    transform: translateY(-5px);
  }
  &::after {
    width: 0;
  }
}

.border-rounded {
  border-radius: 25px;
}

// Buttons
$button-padding-x: 1.25rem;
$button-padding-y: 1.5625rem;
.button {
  background-color: color.$neutral-800;
  color: color.$neutral-200;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: $button-padding-x $button-padding-y;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(320deg, color.$secondary, color.$primary);
  }
  &::after {
    border: none;
    width: 0;
    background: default;
  }

  &:hover {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(320deg, color.$primary, color.$secondary);
    }
    &::after {
      width: 0;
    }
  }
}

.btn-neutral {
  border: 1px solid color.$neutral-200;

  &::before {
    background: none;
    z-index: initial;
    background: none;
  }

  &:hover {
    &::before {
      background: none;
      z-index: initial;
      background: none;
    }
  }
}

$text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
.text-shadow {
  text-shadow: $text-shadow;
}

// Forms
.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    .dropdown-content {
      display: flex;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  // padding-top: 3.2rem;
  min-height: 6.25rem;
  // transform: translateY(-2.5rem);
  // width: 4.8125rem;
  z-index: 1;

  &:hover {
    display: block;
  }

  a {
    display: block;
  }
}

// Header

header {
  padding: 1.875rem layout.$container 1.875rem layout.$container;
  background-color: color.$neutral-800-transparent;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 7.875rem;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 1000;
  backdrop-filter: blur(10px);

  &.hidden {
    top: -7.875rem;
  }

  nav {
    a {
      margin: 0 0.7813rem;
    }
  }

  .logo {
    font-family: typography.$ff-semibold;
    &::after {
      width: 0;
    }
  }

  #mobile-nav-toggle {
    display: none;

    #icon-menu {
      transform: scaleX(-1);
    }
  }
}

// Aside

aside#socials,
aside#mail {
  transition: opacity 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
  position: fixed;
  bottom: 3.75rem;

  a {
    img {
      margin-top: 1.4375rem;

      width: 26px;
      height: 26px;
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

aside#socials {
  margin-left: 4.375rem;
}
aside#mail {
  margin-right: 4.375rem;
  right: 0;
}

// Hero

.hero {
  min-height: 100vh;
  padding: 6.25rem 0;

  .name {
    background: -webkit-linear-gradient(left, color.$primary, color.$secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    max-width: 60ch;
  }

  .punchline {
    perspective: 5000px;
  }

  .rotate {
    width: 265px;
    height: 4rem;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    transform: translateY(0.9375rem);

    &:hover {
      transform: rotateX(180deg);
    }

    span {
      position: absolute;
      // width: 100%;
      // height: 100%;
      // line-height: 260px;
      // color: white;
      // text-align: center;
      // font-weight: bold;
      // font-size: 40px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      // background: color.$neutral-800;

      &:last-child {
        transform: rotateX(180deg);
        background: -webkit-linear-gradient(
          left,
          color.$primary-alt,
          color.$secondary-alt
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.about {
  div:first-child {
    min-width: 62.5%;
    margin-right: layout.$gutter;

    p {
      max-width: 53ch;
    }

    ul {
      height: 7.5rem;
      margin: 1.0625rem 0 0 1.0625rem;

      li {
        margin-bottom: 0.375rem;
      }
    }
  }

  img {
    width: auto;
  }
}

.projects {
  article {
    .img-wrapper {
      position: relative;
      display: inline-block;
      &::before {
        content: "";
        // z-index: 10;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 70%
        );
        border-radius: 25px;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
    }

    h3 {
      text-align: right;
      a {
        text-align: right;
        &::after {
          width: 0;
        }
      }
    }

    .textbox {
      // width: 48.72%;
      // min-height: 13.4375rem;
      height: max-content;
      padding: 1.5625rem;
      background-color: color.$neutral-900;
      z-index: 1;

      p {
        text-align: right;
        @extend .text-justify;
      }
    }
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    z-index: 1;

    span {
      margin-left: 0.625rem;
    }
  }

  .project:nth-child(odd) {
    .img-wrapper {
      grid-column-start: 3;
      grid-column-end: 9;
    }
    h3,
    p,
    span {
      text-align: left;
    }
    h3 {
      grid-column-start: 1;
      grid-column-end: 8;
    }
    .textbox {
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .technologies {
      grid-column-start: 6;
      grid-column-end: 9;
      justify-content: start;
      span {
        margin-left: 0;
        margin-right: 0.625rem;
      }
    }
  }
}

.contact {
  text-align: center;

  .underline {
    &::after {
      width: 7ch;
      right: 0;

      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .button {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.post {
  padding: 6.25rem 0;

  img:first-child {
    width: calc(100% + 2 * 4.375rem);
    max-width: 100vw;
    height: 46rem;
    margin-left: -4.375rem;
    margin-right: 4.375rem;
    object-fit: cover;
  }

  aside {
    z-index: 1;
    align-self: start;
    @extend .row-start-3;
    p {
      @extend .mb-750;
      margin-top: 0;
    }
  }

  h3 {
    @extend .ff-bold;
    @extend .fs-500;
  }

  article {
    @extend .row-start-3;

    * {
      @extend .col-start-1;
      @extend .col-end-11;
    }
    h2,
    p {
      @extend .col-start-3;
      @extend .col-end-9;
    }
    h2 {
      @extend .ff-bold;
      @extend .fs-700;
      @extend .underline;
      @extend .large;
      @extend .mt-1200;
    }
    p:nth-child(-n + 3),
    h2:nth-child(2) {
      @extend .col-start-1;
      @extend .col-end-7;
    }
  }
}

// Tablet / Small Desktop 1400px
@media (max-width: 87.5em) {
  section {
    &.col-start-3 {
      grid-column-start: 2;
    }
    &.col-end-11 {
      grid-column-end: 12;
    }
  }
  .about {
    grid-column-start: 2 !important;
  }
  .projects {
    grid-column: 2 / 12 !important;
  }
  .project {
    .textbox {
      grid-column-start: 3;
    }
    .technologies {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .project:nth-child(odd) {
    .textbox {
      grid-column-start: 1;
      grid-column-end: 7 !important;
    }
    h3 {
      grid-column-start: 1 !important;
      grid-column-end: 8 !important;
    }
    .technologies {
      grid-column-start: 7 !important;
      grid-column-end: 9 !important;
      span {
        float: left;
      }
    }
  }
}

// Mobile
@media (max-width: 50em) {
  * {
    transition: filter 0.1s ease-in-out;
  }
  aside#socials,
  aside#mail {
    visibility: hidden;
  }
  .desktop {
    display: none;
  }
  .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  header {
    padding: 1.875rem layout.$container-mobile 1.875rem layout.$container-mobile;

    &.hidden {
      top: -6.25rem !important;
    }
    #navigation-wrapper {
      position: fixed;
      // display: flex;
      // justify-content: space-between;
      // flex-direction: column;
      transition: right 0.3s ease-in-out;
      // inset: 0 0 0 45%;
      height: 100vh;
      top: 0;
      right: -32.5rem;
      z-index: 8;
      background-color: #28282c;
      // border-left: 2px solid color.$neutral-200;
      -webkit-border-image: linear-gradient(
          to right bottom,
          color.$primary,
          color.$secondary
        )
        1;
      border-image: linear-gradient(
          to right bottom,
          color.$primary,
          color.$secondary
        )
        1;

      &[data-visible="true"] {
        right: 0;
      }

      a {
        font-size: 1.7em;
        margin: 0.7em 0;
      }
    }

    #primary-navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 7rem 4.3125rem 3rem 4.3125rem;
    }

    .button {
      display: none;
    }

    #mobile-nav-toggle {
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5em;
      display: block;
      z-index: 9;
      position: relative;

      #icon-menu {
        height: 0.875rem;
        margin-bottom: 0.375rem;
        position: absolute;
      }

      #icon-close {
        position: absolute;
        height: 1.25em;
        transform: translate(0px, -5px);
        // -webkit-transform: translate(5px, -5px); /* Safari & Chrome */
        // -moz-transform: translate(5px, -5px); /* Firefox */
        // -ms-transform: translate(5px, -5px); /* Internet Explorer */
        // -o-transform: translate(5px, -5px);
      }

      &[aria-expanded="true"] {
        #icon-menu {
          visibility: hidden;
        }
        // #icon-close {
        //   display: block;
        // }
      }
      &[aria-expanded="false"] {
        #icon-close {
          visibility: hidden;
        }
        // #icon-menu {
        //   display: block;
        // }
      }
    }
  }
  .hero {
    .rotate {
      height: 2.5625rem;
      width: 10.875rem;
      transform: translateY(9px);
    }
  }
  .about {
    div:first-child {
      min-width: 100%;
      margin-right: 0;
      ul {
        height: auto !important;
        margin-bottom: sizing.$mb-850 !important;
      }
    }

    div:nth-child(2) {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 21.875rem;
      height: auto;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .dropdown.mobile {
    display: block;

    .button:nth-child(2) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: end;
      padding-right: 4.3125rem;
      border: none;
      gap: 1.25rem;
      background-color: inherit;
    }
  }
  .projects {
    article {
      margin-bottom: sizing.$mb-850;

      .img-wrapper {
        grid-column-end: 9;
        grid-row-end: 6;
        height: 100%;
        width: 100%;
        &::before {
          background: rgba(0, 0, 0, 0.8);
        }
      }

      .textbox,
      h3,
      .technologies {
        grid-column-start: 1 !important;
        grid-column-end: 9 !important;
        background-color: transparent;
      }

      h3,
      .textbox p,
      .technologies {
        text-align: left;
      }

      $m-p-1: 1.875rem;
      $m-p-2: 2.5rem;
      h3 {
        grid-row-start: 1;
        grid-row-end: 2;
        text-shadow: none;
        justify-self: start;
        padding: $m-p-1 $m-p-2 1rem $m-p-2;
        margin: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        // padding: 1.875rem 2.5rem 0 1.875rem;
        // padding: $button-padding-x $button-padding-y 0 $button-padding-y;
      }

      .textbox {
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: initial;
        padding: 1.25rem $m-p-2 1.25rem $m-p-2;
        // padding: 0 2.5rem 0 2.5rem;
        // padding: 0 $button-padding-y 0 $button-padding-y;
      }
      .technologies {
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 1rem $m-p-2 $m-p-1 $m-p-2;
        // padding: 1rem 2.5rem 1.875rem 2.5rem;
        // padding: 1rem $button-padding-y $button-padding-x $button-padding-y;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        justify-content: start;
      }
    }

    .project:nth-child(odd) {
      h3,
      .textbox,
      .technologies,
      .img-wrapper {
        grid-column-start: 1 !important;
        grid-column-end: 9 !important;
      }
    }
  }
  .post {
    img:first-child {
      margin-left: -2rem;
    }
    aside {
      grid-column-start: 1 !important;
      grid-column-end: 12 !important;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      flex-wrap: wrap;
      div {
        flex-grow: 1;
      }
    }
    article {
      grid-row-start: 4 !important;
      grid-row-end: 5;
    }
  }
}

@import "./animation.scss";
