$fs-900: 4rem;
$fs-700: 2rem;
$fs-600: 1.75rem;
$fs-500: 1.25rem;
$fs-400: 1rem;
$fs-300: 0.8125rem;

$my-300: 4.3125rem;

$s-1000: 6.25rem;

$mb-1400: 10rem;
$mb-1200: 7.5rem;
$mb-1100: 6.25rem;
$mb-1000: 5.625rem;
$mb-950: 3.75rem;
$mb-850: 3.4375rem;
$mb-750: 2.25rem;
$mb-700: 1.875rem;
$mb-600: 1.25rem;
$mb-500: 1rem;

.mt-1400 {
  margin-top: $mb-1400;
}

.mt-1200 {
  margin-top: $mb-1200;
}

.mt-950 {
  margin-top: $mb-950;
}

.mb-1200 {
  margin-bottom: $mb-1200;
}

.mb-950 {
  margin-bottom: $mb-950;
}

.mb-850 {
  margin-bottom: $mb-850;
}

.mb-750 {
  margin-bottom: $mb-750;
}

.mb-700 {
  margin-bottom: $mb-700;
}

.mt-750 {
  margin-top: $mb-750;
}

.mb-600 {
  margin-bottom: $mb-600;
}

.mb-500 {
  margin-bottom: $mb-500;
}

.fs-900 {
  font-size: $fs-900;
}

.fs-750 {
  font-size: $mb-750;
}

.fs-700 {
  font-size: $fs-700;
}

.fs-600 {
  font-size: $fs-600;
}

.fs-500 {
  font-size: $fs-500;
}

.fs-400 {
  font-size: $fs-400;
}

.fs-300 {
  font-size: $fs-300;
}

@media (max-width: 50em) {
  .fs-400 {
    font-size: 0.875rem;
  }

  .fs-500 {
    font-size: 1.125rem;
  }

  .fs-700 {
    font-size: 1.625rem;
  }

  .fs-600 {
    font-size: 1.4375rem;
  }

  .fs-900 {
    font-size: 2.625rem;
  }
}
